




@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

html{

    scroll-behavior: smooth;

}

:root{
    /* ===== Colors ===== */
    --body-color: #E4E9F7;
    --sidebar-color: #FFF;
    --primary-color: #00778B;
    --primary-color-light: #F6F5FF;
    --toggle-color: #DDD;
    --text-color: #101820;

    /* ====== Transition ====== */
    --tran-03: all 0.2s ease;
    --tran-03: all 0.3s ease;
    --tran-04: all 0.3s ease;
    --tran-05: all 0.3s ease;
}

body{
    min-height: 100vh;
    background-color: var(--body-color);
    transition: var(--tran-05);
}

::selection{
    background-color: var(--primary-color);
    color: #fff;
}

body.dark{
    --body-color: #18191a;
    --sidebar-color: #242526;
    --primary-color: #3a3b3c;
    --primary-color-light: #3a3b3c;
    --toggle-color: #fff;
    --text-color: #ccc;
}



/* MENUAREN CSS HASIERA */
 .tsb-sidebar{
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 250px;
    padding: 10px 14px;
    background: var(--sidebar-color);
    transition: var(--tran-05);
    z-index: 100;  
}
.tsb-sidebar.close{
    width: 88px;
}

/* ===== Reusable code - Here ===== */
.tsb-sidebar li{
    height: 50px;
    list-style: none;
    display: flex;
    align-items: center;
    margin-top: 10px;
}

.tsb-sidebar header .irudia,
.tsb-sidebar .icon{
    min-width: 60px;
    border-radius: 6px;
}

.tsb-sidebar .icon{
    min-width: 60px;
    border-radius: 6px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
}

.tsb-sidebar .textua,
.tsb-sidebar .icon{
    color: var(--text-color);
    transition: var(--tran-03);
}

.tsb-sidebar .textua{
    font-size: 17px;
    font-weight: 500;
    white-space: nowrap;
    opacity: 1;
}
.tsb-sidebar.close .textua{
    opacity: 0;
}
/* =========================== */

.tsb-sidebar header{
    position: relative;
}

.tsb-sidebar header .irudia-textua{
    display: flex;
    align-items: center;
}
.tsb-sidebar header .logo-textua{
    display: flex;
    flex-direction: column;
}
header .irudia-textua .izena {
    margin-top: 2px;
    font-size: 18px;
    font-weight: 600;
    height: 25px;
}

header .irudia-textua .ongiEtorria{
    font-size: 16px;
    margin-top: -2px;
    display: block;
}

.tsb-sidebar header .irudia{
    display: flex;
    align-items: center;
    justify-content: center;
}

.tsb-sidebar header .irudia img{
    width: 40px;
    border-radius: 6px;
}

.tsb-sidebar header .toggle{
    position: absolute;
    top: 50%;
    right: -25px;
    transform: translateY(-50%) rotate(180deg);
    height: 25px;
    width: 25px;
    background-color: var(--primary-color);
    color: var(--sidebar-color);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 22px;
    cursor: pointer;
    transition: var(--tran-05);
}

body.dark .tsb-sidebar header .toggle{
    color: var(--text-color);
}

.tsb-sidebar.close .toggle{
    transform: translateY(-50%) rotate(0deg);
}

.tsb-sidebar .tsb-menu{
    margin-top: 40px;
}

.tsb-sidebar li.search-box{
    border-radius: 6px;
    background-color: var(--primary-color-light);
    cursor: pointer;
    transition: var(--tran-05);
}

.tsb-sidebar li.search-box input{
    height: 100%;
    width: 100%;
    outline: none;
    border: none;
    background-color: var(--primary-color-light);
    color: var(--text-color);
    border-radius: 6px;
    font-size: 17px;
    font-weight: 500;
    transition: var(--tran-05);
}
.tsb-sidebar li a{
    list-style: none;
    height: 100%;
    background-color: transparent;
    display: flex;
    align-items: center;
    height: 100%;
    width: 100%;
    border-radius: 6px;
    text-decoration: none;
    transition: var(--tran-03);
}

.tsb-sidebar li a:hover{
    background-color: var(--primary-color);
}
.tsb-sidebar li a:hover .icon,
.tsb-sidebar li a:hover .textua{
    color: var(--sidebar-color);
}
body.dark .tsb-sidebar li a:hover .icon,
body.dark .tsb-sidebar li a:hover .textua{
    color: var(--text-color);
}

.tsb-sidebar .tsb-menu-bar{
    height: calc(100% - 55px);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow-y: scroll;
}
.tsb-menu-bar::-webkit-scrollbar{
    display: none;
}
.tsb-sidebar .tsb-menu-bar .mode{
    border-radius: 6px;
    background-color: var(--primary-color-light);
    position: relative;
    transition: var(--tran-05);
}

.tsb-menu-bar .mode .sun-moon{
    height: 50px;
    width: 60px;
}

.mode .sun-moon i{
    position: absolute;
}
.mode .sun-moon i.sun{
    opacity: 0;
}
body.dark .mode .sun-moon i.sun{
    opacity: 1;
}
body.dark .mode .sun-moon i.moon{
    opacity: 0;
}

.tsb-menu-bar .bottom-content .toggle-switch{
    position: absolute;
    right: 0;
    height: 100%;
    min-width: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 6px;
    cursor: pointer;
}
.toggle-switch .switch{
    position: relative;
    height: 22px;
    width: 40px;
    border-radius: 25px;
    background-color: var(--toggle-color);
    transition: var(--tran-05);
}

.switch::before{
    content: '';
    position: absolute;
    height: 15px;
    width: 15px;
    border-radius: 50%;
    top: 50%;
    left: 5px;
    transform: translateY(-50%);
    background-color: var(--sidebar-color);
    transition: var(--tran-04);
}

body.dark .switch::before{
    left: 20px;
}

.home{
    position: absolute;
    top: 0;
    top: 0;
    left: 250px;
    height: 100vh;
    width: calc(100% - 250px);
    background-color: var(--body-color);
    transition: var(--tran-05);
}
.home .textua{
    font-size: 30px;
    font-weight: 500;
    color: var(--text-color);
    padding: 12px 35px;
}

.tsb-sidebar.close ~ .home{
    left: 78px;
    height: 100vh;
    width: calc(100% - 78px);
}
body.dark .home .textua{
    color: var(--text-color);
}

@media screen and (max-width: 600px) {

    .tsb-sidebar.close{
        width: 0px;
    }

    
}


/* MUGIKORREAN MENUA ONDO IKUSTEKO */
@media only screen and (max-width: 600px) {
   
    #tx_movil {

        padding-right: 0px;
        padding-left: 0px;

    }

    #home_movil {

        left: 0;
        position: 0;
        width: 100%;

    }

    .home .textua{
        padding: 12px 0px;
    }

    .tsb-sidebar.close ~ .home{
       left: 45px;
        width: 100%;
        height: 100%;
    }

    .tsb-sidebar.close img{
        opacity: 0;
     }

}
/* MENUAREN CSS BUKAERA */





/* DENDAREN BANNER-A Nola funtzionatuko duen, esango diogu. */
.banner{

    position: relative;
    margin-bottom: 20px;

}

@media only screen and (max-width: 600px) {

    .banner{
        width: 90%;
        height: 100%;
    }

}

@media only screen and (min-width: 601px) {

    .banner{
        width: 100%;
        height: 100%;
    }

}
/* DENDAREN BANNER ATALA BUKATUTA */




/* KATEGORIEN BOTOIAREN DISEINUA */
.kategoriak{

    border-radius: 100px;
    border: 1.5px solid #00778B;
    margin-left: 10px;
    position: relative;
    width: 100%;
    height: 100%;
    font-size: 20px;
    letter-spacing: 7px;
    text-align: center;


}

@media only screen and (max-width: 1060px) {

    .kategoriak {

        
        font-size: 15px;

    }
    
}

@media only screen and (max-width: 768px) {

    .kategoriaKaxa {

        margin: 5px;

    }
    
}

/* KATEGORIEN BOTOIAREN DISEINUAren BUKAERA */



/* WEB ORRI BARRUKO BARRAK */
.barra{  
    margin-top: 40px;
    margin-bottom: 40px;
    margin-right: 1.5%;
    margin-left: 1.5%;
    display: flex;
    background-color: #00778B;
    padding: 0.05em;
    border-radius: 15px;
    box-shadow: 0px 3px 5px rgba(15, 15, 15, .5);
}
/* WEB ORRI BARRUKO BARREN BUKAERA */


  

/* KAROUSELAREN ESTILOA */
h4, h2,small,a{
    margin: 0;
    padding: 0;
}
a{
    text-decoration: none;
}
.Carousel{
    width: 100%;
    
}
.Carousel h2{
    font-size: 26px;
    line-height: 38px;
    padding-bottom: 24px;
    opacity: 0.9;
    text-transform: uppercase;
    letter-spacing: 8px;
    text-align: center;
}

/* Karouselaren irudiak */

.slick-list{
    position: relative;
    display: flex;
    align-items: center;
    width: fit-content;
    height: 100%;
    padding: 10px 0px;
    margin: 0px auto;
    max-width: 100%;
    overflow: hidden;
}
.slick-track{
    position: relative;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    transition: .5s ease-in-out;
}
.slick{
    position: relative;
    width: 275px;
    padding: 0 18px;
    float: left;
    box-sizing: border-box;
    display: flex;
    height: 100%;
}
.slick h4{
    position: absolute;
    z-index: 1;
    font-size: 22px;
    line-height: 23px;
    color: #fff;
    padding: 15px;
}
.slick h4 small{
    font-size: 15px;
    display: block;
}
.slick a img{
    object-fit: cover;
    height: 300px;
    width: 100%;
    border-radius: 4px;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,.5);
    transition: .3s ease-in-out;
}
.slick a img:hover{
    opacity: .85;
}

/* KAROUSELAN BOTOIAK */

.slick-arrow{
    border-radius: 30px;
    background-color: #fff;
    position: absolute;
    z-index: 4;
    width: 48px;
    height: 48px;
    text-align: center;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,.15);
    border: 0;
    cursor: pointer;
}
.slick-arrow:focus{
    outline: 0;
}
.slick-arrow svg{
    width: 12px;
    height: 100%;
    color: rgba(0,0,0,.7);
}
.slick-prev{
    left: 0px;
}
.slick-next{
    right: 0px;
}
/* KAROUSELAREN ESTILO BUKAERA */



/* HURRENGO GAUZA */
